.mainContainer{
    width: 100%;
}
.contentContainer{
    width: 100%;
}
.popupContainer{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.popupContainer div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupDescription{
    text-align: center;
}
.popupDouble{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleContainer{
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.titleContainer div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}